* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: manrope;
    src: url(fonts/Manrope/static/Manrope-Regular.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: manrope-xlight;
    src: url(fonts/Manrope/static/Manrope-ExtraLight.ttf);
}

body {
    background-image: url(assets/home/background-home-desktop.jpg);
    background-size: cover;
    font-family: roboto-light;
}

header {
    display: flex;
    width: 55%; 
    height: 90px;
    margin-top: 40px;
    background: #ffffff18; 
    backdrop-filter: blur(10px);
    align-items: center;
    position: absolute; 
    top: 0;
    right: 0;
}

.logo {
    width: 70px; 
    height: auto;
    margin-left: 40px;
    margin-top: 54px;
}

.logo img {
    width: 90%; 
    margin-left: 10%; 
}

#pri {
    padding-left: 80px;
}

nav ul li {
    float: left; 
    color: #fff; 
    width: auto; 
    margin: 0.8em;
    list-style: none;
    font-size: 18px;
    font-family: manrope;
}
 
nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #c8c8ce;
}

.cont {
    margin-top: 70px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont .box {
    color: #fff;
    width: 450px;
}

.box h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

h3 {
    font-family: roboto-light;
    font-size: 24px;
}

.exp {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    margin-left: 400px;
}


